<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalMethod.Properties.Path" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GlobalMethod.Properties.Path>
            <setting name="MccPath" serializeAs="String">
                <value>C:\Program Files\MATLAB\R2015b\bin\mcc.bat</value>
            </setting>
            <setting name="MatlabCodePath" serializeAs="String">
                <value>C:\Users\admin\Documents\Visual Studio 2013\Projects\MatlabCode</value>
            </setting>
        </GlobalMethod.Properties.Path>
    </applicationSettings>
</configuration>